<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.koreate.mappers.MemberMapper">

	<insert id="insertMember" parameterType="net.koreate.test.vo.MemberVO">
		INSERT INTO tbl_member(userid,userpw,username,regdate,updatedate)
		VALUES(#{userid},#{userpw},#{username},now(),now())
	</insert>
	
	<select id="readMember" parameterType="String" resultType="net.koreate.test.vo.MemberVO">
		SELECT * FROM tbl_member WHERE userid = #{userid}
	</select>
	
	<select id="readMemberWithPass" parameterType="java.util.Map" resultType="net.koreate.test.vo.MemberVO">
		SELECT * FROM tbl_member WHERE userid = #{userid} AND userpw = #{userpw}
	</select>
	
	<select id="readMemberList" resultType="net.koreate.test.vo.MemberVO">
		SELECT * FROM tbl_member ORDER BY regdate DESC
	</select>
	
</mapper>
